<%= form_with model: @link do |f| %>
  <%= f.text_field :original_url, placeholder: "Write URL here" %>
  <%= f.submit 'Create Code' %>
<% end %>


<h1>All Links</h1>
<ul>
  <% @links.each do |link| %>
  <div class="flex-container">
    <li><%= link.original_url %></li>
    <%= form_with model: @click, url: link_clicks_path(link), method: :post, data: { turbo: false } do |f| %>
      <%= f.submit link.shortened_url %>
    <% end %>
    <li><%= link.click_count %></li>
  </div>
  <% end %>
</ul>